@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
*{font-family: Montserrat;}
body{
    margin: auto;
}
header.header{
    display: flex;
    align-items: center;
}
header.header img{
    width: 150px;
}
section.top-page{
    background: url("../images/bg.jpg");
    background-size: cover;height: 80vh;
    padding: 25px;
}
/*la page de bienvenue (landing page)*/
.landing-page{ padding: 20px 50px;}
.big-title{
    color: white;
    font-size: 80px;
    font-family: 'Abril FatFace',cursive;
    font-weight: 100;
   
}
.scroll-down{
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: 100px;
}
/*Menu de Navigation*/
nav.nav{
    display: flex;
    list-style: none;
    width: 400px;
    margin-left: 30px;
    justify-content: space-between;
}
nav.nav li{
    color: white;
}
/* SERVICE */
.services{
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}
.service-item{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.delivery-icon{
    font-size: 50px;
    color: #ADD981;
}
.service-details{
    font-weight: 600;
    width: 200px;
    text-align: center;
}
/*BEST SELLS*/
.section-title{
    font-size: 50px;
    font-family: 'Abril FatFace', cursive;
    font-weight: 100px;
    position: relative;
}
.section-title::before{
    content: "";
    position: absolute;
    background-color: #ADD981;
    width: 50px;
    height: 7px;
    bottom: 0;
}
.bests-items{
    margin: 100px;
}
.best-plants{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}
.plant-box{
    background-size: cover;
    background-position: center;
    min-width: 350px;
    height: 500px;
    flex: 1;
}
.plant1{
    background-image: url(../images/nos_meilleures_ventes/1.jpg);
}
.plant2{
    background-image: url(../images/nos_meilleures_ventes/2.jpg);
}
.plant3{
    background-image: url(../images/nos_meilleures_ventes/3.jpg);
}
.plant4{
    background-image: url(../images/nos_meilleures_ventes/4.jpg);
}
