@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
*{font-family: Montserrat;}
body{
    margin: auto;
}
header.header{
    display: flex;
    align-items: center;
}
header.header img{
    width: 150px;
}
section.top-page{
    background: url("../images/bg.jpg");
    background-size: cover;height: 80vh;
    padding: 25px;
}
/*la page de bienvenue (landing page)*/
.landing-page{ padding: 20px 50px;}
.big-title{
    color: white;
    font-size: 80px;
    font-family: 'Abril FatFace',cursive;
    font-weight: 100;
   
}
.scroll-down{
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: 100px;
}
/*Menu de Navigation*/
nav.nav{
    display: flex;
    list-style: none;
    width: 400px;
    margin-left: 30px;
    justify-content: space-between;
}
nav.nav li{
    color: white;
}